



.index_title {
    padding-left: 100px;
    font-family: 'Permanent Marker', cursive;
}
.index_active_games_title {
    padding-left: 100px;
    font-family: 'Permanent Marker', cursive;
}
.index_game_list {
	padding-left: 140px;
    font-family: 'Permanent Marker', cursive;
}
.index_users_list_title {
    padding-left: 100px;
    font-family: 'Permanent Marker', cursive;
}
.index_all_users_list {
	padding-left: 140px;
    font-family: 'Permanent Marker', cursive;
}





.home_sign_in {
	font-family: 'Permanent Marker', cursive;
	display:inline-block;
	position: absolute;
	left: 730px;
	top: 110px;}
.home_sign_in_title {
	padding-left: 50px;}
.home_sign_in_email {
	position: absolute;
	top: 50px;
	left: 0;}
.home_sign_in_password {
	position: absolute;
	top: 50px;
	left: 230px;}
.home_sign_in_remainder {
	position: absolute;
	top: 130px;}
.home_sign_in_button {
	position: absolute;
	top: 10px;
	left: 350px;}



.home_sign_up {
	font-family: 'Permanent Marker', cursive;
	display: inline-block;
	position: absolute;
	left: 730px;
	top: 300px;}
.home_sign_up_title {
	padding-left: 50px;
	padding-bottom: 20px;}
.home_sign_up_section_one {
	position: absolute;
	top: 50px;
	left:0;}
.home_sign_up_section_two {
	position: absolute;
	top: 50px;
	left: 230px;}
.home_sign_up_button {
	position: absolute;
	top: 230px;
	left: 350px;}




.connect_four_title {
    font-family: 'Permanent Marker', cursive;
    margin: 40px 0 50px 70px;
    display: inline-block;
}

.game_board {
  	border-bottom: 20px solid #558bc7;
  	border-left: 20px solid #558bc7;
  	border-right: 20px solid #558bc7;
  	border-radius: 20px;
  	position: relative;
  	width: 600px;
  	height: auto;
  	margin: 0 50px 0 30px;
  	padding: 0;
  	z-index: 1;
}

.board_column_one {
	position: absolute;
	bottom: 30px;
	left: 47px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_two {
	position: absolute;
	bottom: 30px;
	left: 133px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_three {
	position: absolute;
	bottom: 30px;
	left: 219px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_four {
	position: absolute;
	bottom: 30px;
	left: 305px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_five {
	position: absolute;
	bottom: 30px;
	left: 391px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_six {
	position: absolute;
	bottom: 30px;
	left: 477px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}
.board_column_seven {
	position: absolute;
	bottom: 30px;
	left: 563px;
	width: 84px;
	height: 509px;
	display: inline-block;
	padding: 0;
	margin: 0}

.board_row_one {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0}
.board_row_two {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0}
.board_row_three {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0}
.board_row_four {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0}
.board_row_five {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0}
.board_row_six {
	width: 84px;
	height: 84px;
	padding: 0;
	margin: 0;}


.show_waiting {
	display: inline-block;
	width: 400px;
	text-align: center;
	position: absolute;
	top: 40px;
	right: -500px;
	font-family: 'Permanent Marker', cursive;
}
.show_message {
	display: inline-block;
	width: 400px;
	text-align: center;
	position: absolute;
	top: 40px;
	right: -500px;
	font-family: 'Permanent Marker', cursive;
}
.show_back_button {
	display: inline-block;
	width: 400px;
	text-align: right;
	position: absolute;
	top: 500px;
	right: -500px;
	font-family: 'Permanent Marker', cursive;
}


.red_token {
	background-color: red;
	z-index: -1;
	padding: 0;
	margin: 0;
}
.black_token {
	background-color: black;
	z-index: -1;
	padding: 0;
	margin: 0;
}


.background {
	background-color: #FFF9F9;
}

.footer {
	display: inline-block;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	right: 30px;
	bottom: 5px;
}

.logout_stuff {
	display: inline-block;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	top: 20px;
	right: 20px;}


// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

